<%= @correct_answer.text %> was from <%= @correct_answer.author %><br><br>

Your current score is: <%= @score %>

<h1><%= @answer %></h1><br><br>

<% if @status >= 4 %>
    <%= button_to "How did I do?", "/games/#{@game.id}/complete", method: :get %>
<% else %>
    <%= button_to "Next Round", "/games/#{@game.id}/#{@status + 1}", method: :get %>
<% end %>