<h2><%= @player.user_name %></h2>

<div>Highscore: </div><%= @player.player_highscore %><br>
<div>Motto: </div><%= @player.motto %><br><br>

<div class="ui form"></div>
<div class="ui card">
<% if  @player.id == session[:player_id] %>
    <%= link_to "Start a New Game!", '/games' %> <br><br>
    <%= link_to "Edit Player", edit_player_path %> <br><br>
    <%= link_to "Wipe yourself off the face of this program. However, just know, that - if you do this, there's no coming back from it.", "/players/#{@player.id}" %> <br><br>
<% end %>
</div>
</div>