

<div class="ui segments" >
    <div class="ui segment">
        <h2><%= @player.user_name %></h2>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
            Highscore: <%= @player.player_highscore %> 
        </div>
        <div class="ui segment">
            <%= link_to "Start a New Game!", '/games', method: :post %> 
        </div>
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
            Motto: <%= @player.motto %>
        </div>
        <div class="ui segment">
            <%= link_to "Edit Player", edit_player_path %> 
        </div>
    </div>
    <div class="ui segment">
        <%= link_to "Wipe yourself off the face of this program. However, just know, that - if you do this, there's no coming back from it.", "/players/#{@player.id}" %> <br><br>
    </div>
</div>
